<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter10">
        <activity android:name="com.example.chapter10.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.chapter10.Self1001" android:exported="true"/>
        <activity android:name="com.example.chapter10.Self1002" android:exported="true"/>
        <activity android:name="com.example.chapter10.Self1003" android:exported="true"/>
        <activity android:name="com.example.chapter10.Exer1005" android:exported="true"/>
        <activity android:name="com.example.chapter10.Exer1006" android:exported="true"/>
        <activity android:name =".SecondActivity1001" android:label ="Second 액티비티" android:exported="true"/>
        <activity android:name =".ThirdActivity1001" android:label ="Third 액티비티" android:exported="true"/>
        <activity android:name=".ResultActivity1002" android:label="투표 결과" android:exported="true"/>
        <activity android:name =".SecondActivity1003" android:label ="Second 액티비티" android:exported="true"/>
        <activity
            android:name=".SecondActivity1005"
            android:label="Second 액티비티" android:exported="true"/>
        <activity
            android:name=".ThirdActivity1005"
            android:label="Third 액티비티" android:exported="true"/>
        <activity android:name=".ResultActivity1006" android:exported="true"/>



        <activity android:name="com.example.chapter10.Self1001_org" android:exported="true"/>
        <activity android:name="com.example.chapter10.Self1002_org" android:exported="true"/>
        <activity android:name="com.example.chapter10.Self1003_org" android:exported="true"/>
        <activity android:name="com.example.chapter10.Exer1005_org" android:exported="true"/>
        <activity android:name="com.example.chapter10.Exer1006_org" android:exported="true"/>
        <activity android:name =".SecondActivity1001_org" android:label ="Second 액티비티" android:exported="true"/>
        <activity android:name =".ThirdActivity1001_org" android:label ="Third 액티비티" android:exported="true"/>
        <activity android:name=".ResultActivity1002_org" android:label="투표 결과" android:exported="true"/>
        <activity android:name =".SecondActivity1003_org" android:label ="Second 액티비티" android:exported="true"/>
        <activity
            android:name=".SecondActivity1005_org"
            android:label="Second 액티비티" android:exported="true"/>
        <activity
            android:name=".ThirdActivity1005_org"
            android:label="Third 액티비티" android:exported="true"/>
        <activity android:name=".ResultActivity1006_org" android:exported="true"/>
    </application>

</manifest>